@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$backgroundColor: #050607;

$fontLight: 400;
$fontRegular: 600;
$fontBold: 800;

$gradientGold: linear-gradient(90deg, 
  #D99A01 0%, 
  #9F6605 49%, 
  #EFB62B 100%
);

