@use '../../styles/variables' as *;
@import '../../styles/mixin.scss';

.skills {
    width: 95vw;
    margin: 0vw auto;
    color: white;
    
    
    
    &__Header{
        @include gradient-text;
        font-weight: $fontRegular;
        font-size: 25px;
        margin-left: 5vw;
    }

    &__Section1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5vw 20vw 5vw 20vw;
        gap: 2.5vw;
        background-color: #07090C;

        &__Item {
            width: 8vw;
            height: auto;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}