@import '../../styles/variables';

.skills {
    width: 70vw;
    margin: 0vw auto;
    padding: 3.5vw;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    text-align: center;
    background-color: $baclgroundColor;
    line-height: 1.5rem;

    &__Header {
        font-size: $fontSize2;
        font-weight: $fontSemiBold;

    }

    &__Section1 {
        display: flex;
        align-items: center;
        justify-content: center;
        
        gap: 3rem;
        img{
            width: 8rem;

            
        }
        img:hover{
            transform: scale(1.2);
            transition-duration: 0.5s;
        }
    }
}