@use '../../styles/variables' as *;
@use '../../styles/mixin' as *;

.skills {
    width: 95vw;
    margin: 0vw auto;
    color: white;



    &__Header {
        @include gradient-text;
        font-weight: $fontRegular;
        font-size: 25px;
        margin-left: 5vw;
    }

    &__Section1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5vw 20vw 5vw 20vw;
        gap: 2.5vw;
        background-color: #07090C;

        &__Item {
            width: 8vw;
            height: auto;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

@media (min-width: 2500px) {
    .skills {
        max-width: 1920px;

        &__Header {
            margin-left: 4vw;
        }

        &__Section1 {
            padding: 3vw 15vw 3vw 15vw;
            gap: 2vw;

            &__Item {
                width: 150px;
            }
        }
    }
}

@media (max-width:1900px) {
    .skills {

        &__Header {
            margin-left: 5vw;
            font-size: 20px;
        }

        &__Section1 {
            padding: 2vw 15vw 3vw 15vw;
            gap: 3.5vw;

            &__Item {
                width: 110px;
            }
        }
    }

}

@media (max-width:768px) {
    .skills {

        &__Header {
            margin-left: 5vw;
            font-size: 12px;
        }

        &__Section1 {
            padding: 2vw 15vw 3vw 15vw;
            gap: 3.5vw;

            &__Item {
                width: 50px;
            }
        }
    }

}