@use '../../styles/variables' as *;
@use '../../styles/mixin' as *;

.container {
    position: relative;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 100px;
    font-weight: $fontRegular;

    &__Text{
      
      font-size: 20px;
      margin-right: 100px;
      margin-bottom: 50px;
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 20px;
      color: rgb(177, 182, 189);

      h2{
        @include gradient-text;
      }
      a{
        color: white;
        font-size: 25px;

        
      }
      a:hover{
        color: #EFB62B;
        text-shadow: #ffffff28 1px 3px;
        transition-duration: 0.4s;
        transform: scale(1.1)translatey(-0.2rem);
    }
    }

    &__Carousel {
      padding: 0px 50px;
      display: flex;
      justify-content: space-around;
      scroll-behavior: smooth;
      overflow-x: auto;
    }
  }
  
  
  
  .carousel-card {
    background-color: transparent;
    opacity: 0; // Inicialmente invisível até que as imagens carreguem
  
    &.loaded {
      opacity: 1; // Quando as imagens estiverem carregadas, fica visível
    }
  
    .carousel-image {
      object-fit: cover;
      margin-bottom: 10px;
      
    }
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
  
    &.prev-btn {
      left: 10px;
    }
  
    &.next-btn {
      right: 10px;
    }
  }
  
  @media (min-width: 2500px){
    .container {
      max-width: 1920px;
      margin-bottom: 100px;
      font-weight: $fontRegular;
    }
    
    .carousel-btn {
      position: absolute;
      top: 65%;
    }
  }

  @media (max-width: 1900px) {
    .container {
      width: 100vw;
      margin: 0 auto;
      margin-bottom: 100px;

      img{
        width: 95%;
      }
  
      &__Text{
        
        font-size: 17px;
        margin-bottom: 50px;
        gap: 10px;

  
        h2{
          @include gradient-text;
        }
        a{
          font-size: 19px;
        }
      }
  
      &__Carousel {
        padding: 0px 100px;
      }
    }
    
    
    
    .carousel-card {

    
      .carousel-image {
        margin-bottom: 10px;
      }
    }
    
    .carousel-btn {
      top: 65%;
 
      padding: 8px;
      border-radius: 50%;
    
      &.prev-btn {
        left: 40px;
      }
    
      &.next-btn {
        right: 40px;
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      width: 100vw;
      margin-top: 150px;
      margin-bottom: 100px;

      img{
        width: 80%;
      }
  
      &__Text{
    
        font-size: 8px;
        margin-bottom: 10px;
        gap: 5px;

  
        h2{
          @include gradient-text;
        }
        a{
          font-size: 10px;
        }
      }
  
      &__Carousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px 100px;
      }
    }
  }