@use '../../styles/variables' as *;
@use '../../styles/mixin' as *;

.container {
    position: relative;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 100px;
    font-weight: $fontRegular;
    


    &__Text{
      
      font-size: 20px;
      margin-right: 100px;
      margin-bottom: 50px;
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 20px;
      color: rgb(177, 182, 189);

      h2{
        @include gradient-text;
      }
      a{
        color: white;
        font-size: 25px;

        
      }
      a:hover{
        color: #EFB62B;
        text-shadow: #ffffff28 1px 3px;
        transition-duration: 0.4s;
        transform: scale(1.1)translatey(-0.2rem);
    }
    }

    &__Carrousel{
      display: flex;
      flex-direction: column;
      padding: 3rem;
      justify-content: center;
      color: white;
      
      &__Content{
        display: flex;
        
        gap: 2rem;

        &__Text{
          
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          font-size: 1.2rem;
          font-family: $fontLight;
          &__1{
            margin-top: -2rem;
            height: 12vw;
          }
          p{
            font-size: 1rem;
            
          }

          a{
            @include gradient-button-b;
            font-weight: $fontLight;
            font-family: $font2;
            text-decoration: none;
            border-radius: 1rem;
            padding: 1rem;
            font-size: 1.2rem;

            &:hover {
              color: rgb(51, 51, 51);
              box-shadow: rgba(255, 255, 255, 0.192) 2px 3px;
              transform: scale(1.02) translateY(-0.3rem);
              transition-duration: 300ms;
          }
          }
        }
      }
    }

  }

  
 
  
  
  
  @media (min-width: 2500px){
    .container {
      max-width: 1920px;
      margin-bottom: 100px;
      font-weight: $fontRegular;
    }
    

  }

  @media (max-width: 1900px) {
    .container {
      width: 100vw;
      margin: 0 auto;
      margin-bottom: 50px;

      img{
        width: 22rem;
      }
      
      &__Carrousel{
        padding: 1.5rem;
        
        &__Content{
          margin-top: -1rem;
          gap: 1rem;
  
          &__Text{
            font-size: 1rem;
            &__1{
              margin-top: -2rem;
              height: 12vw;
            }
            h3{
              font-size: 1rem;
            }
            p{
              font-size: 0.8rem;
              
            }
  
            a{
              border-radius: 0.5rem;
              padding: 0.5rem;
              font-size: 1rem;
            }
          }
        }
      }

  
      &__Text{
        
        font-size: 17px;
        margin-bottom: 50px;
        gap: 10px;

  
        h2{
          @include gradient-text;
        }
        a{
          font-size: 19px;
        }
      }
    }
    
  }

  @media (max-width: 768px) {
    .container {
      width: 100vw;
      margin-top: 150px;
      margin-bottom: 100px;

      img{
        width: 10rem;
      }
      
      &__Carrousel{
       font-size: 0.7rem;
        padding: 1rem;
        
        &__Content{
          display: flex;
          flex-direction: column;
          margin-top: -0.5rem;
          gap: 0.1rem;
  
          &__Text{
            display: flex;
            flex-direction: column;
            font-size: 0.6rem;
            &__1{
              margin-top: 0rem;
              height: 15rem;
            }
            h3{
              font-size: 0.7rem;
            }
            p{
              font-size: 0.7rem;
              
            }
  
            a{
              border-radius: 0.5rem;
              padding: 0.3rem;
              font-size: 1rem;
            }
          }
        }
      }

  
      &__Text{
        
        font-size: 17px;
        margin-bottom: 50px;
        gap: 10px;

  
        h2{
          @include gradient-text;
        }
        a{
          font-size: 19px;
        }
      }
    
  
      &__Text{
    
        font-size: 8px;
        margin-bottom: 10px;
        gap: 5px;

  
        h2{
          @include gradient-text;
        }
        a{
          font-size: 10px;
        }

        

      }
    }
  }