@use '../../styles/variables' as *;
@use '../../styles/mixin' as *;

.summary {
    background-image: url('../../../public/images/background.svg') no-repeat center/cover;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
    gap: 20vw;

    img {
        width: clamp(10rem, 28%, 30rem);
    }

    &__Content {
        max-width: 1920px;
        width: clamp(20rem, 30%, 30rem);
        text-align: justify;
        display: flex;
        flex-direction: column;



        h1,
        h2 {
            font-size: clamp(14px, 2vw, 29px);
            font-weight: $fontBold;
            @include gradient-text
        }

        &__Text {
            line-height: 1.8;
            font-size: clamp(12px, 1.5rem, 19px);
            font-weight: $fontLight;
            color: white;

        }

        &__Button {
            display: flex;
            flex-direction: row;
            gap: 3vw;
            margin-top: 1.5rem;
            justify-content: center;

            Button {
                @include gradient-button-b;
                width: clamp(15vw, 20rem, 25rem);
                height: clamp(3vw, 3rem, 7rem);
                font-size: clamp(12px, 1.5rem, 26px);
                font-weight: $fontLight;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                transition: all 0.4s ease-in-out;

                &:hover {
                    color: rgb(51, 51, 51);
                    box-shadow: rgba(255, 255, 255, 0.192) 3px 5px;
                    transform: scale(1.02) translateY(-0.3rem);
                }
            }
        }

    }
}



@media (min-width: 2500px) {
    .summary {
        margin-top: -10rem;
        margin-bottom: -13rem;



        &__Content {
            max-width: 1920px;


            &__Button {

                Button {
                    height: 4rem;
                    font-size: 1.8rem;
                }
            }

        }


    }
}


@media (max-width:1900px) {
    .summary {
        margin-top: 1rem;
        gap: 14rem;

        &__Content {
            width: 26rem;

            h1,
            h2 {
                font-size: 1.5rem;
            }


            &__Text {
                line-height: 1.8;
                font-size: 1rem;
            }

            &__Button {

                Button {
                    width: 15rem;
                    height: 2.5rem;
                    font-size: 1.5rem;
                }
            }

        }

    }

}

@media (max-width: 768px) {
    .summary {
        margin-top: 15rem;
        flex-direction: column-reverse;
        gap: 1rem;

        &__Content {
            width: 20rem;

            a {
                text-decoration: none;

            }

            h1, h2 {
                font-weight: $fontBold;
                font-size: 1.2rem;
                @include gradient-text
            }

          

            &__Text {
                line-height: 1.5;
                font-size: 1rem;

            }

            &__Button {
                gap: 3vw;
                margin-top: 1.5rem;
                justify-content: center;

                Button {
                    @include gradient-button-b;
                    width: 25vw;
                    height: 7vw;

                    font-size: 12px;
                    font-weight: $fontLight;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;

                }

            }
        }

        img {
            width: 10rem;
        }
    }

}