@use '../../styles/variables' as *;
@use '../../styles/mixin' as *;

.summary {
    background-image: url('../../../public/images/background.svg');
    margin-top: 50px;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
    gap: 20vw;

    img {
        width: 28%;
    }

    &__Content {
        max-width: 1920px;
        width: 30rem;
        text-align: justify;
        display: flex;
        flex-direction: column;



        h1 {
            font-size: 29px;
            font-weight: $fontBold;
            @include gradient-text
        }

        h2 {
            font-weight: $fontBold;
            font-size: 29px;
            @include gradient-text
        }

        &__Text {
            line-height: 2;
            font-size: 19px;
            font-weight: $fontLight;
            color: white;

        }

        &__Button {
            display: flex;
            flex-direction: row;
            gap: 3vw;
            margin-top: 1.5rem;

            Button {
                @include gradient-button-b;
                width: 15vw;
                height: 3vw;
                display: flex;
                font-size: 26px;
                font-weight: $fontLight;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
            }
        }

    }

    img {
        width: 30rem;
    }
}



@media (min-width: 2500px) {
    .summary {
        margin-top: -7vw;
        margin-bottom: -200px;

        img {
            width: 28%;
        }

        &__Content {
            max-width: 1920px;


            &__Button {
                gap: 3vw;
                margin-top: 1.5rem;

                Button {
                    width: 15vw;
                    height: 2vw;
                    font-size: 26px;
                    border-radius: 10px;
                }
            }

        }

        img {
            width: 30rem;
        }
    }
}


@media (max-width:1900px) {
    .summary {
        margin-top: 35px;
        gap: 15vw;

        &__Content {
            width: 26rem;

            h1 {
                font-size: 25px;
            }
            h2 {
                font-size: 26px;
            }

            &__Text {
                line-height: 1.8;
                font-size: 16px;
            }

            &__Button {
                gap: 4vw;
                margin-top: 1rem;

                Button {
                    width: 15vw;
                    height: 3vw;
                    font-size: 20px;
                    border-radius: 5px;
                }
            }

        }

        img {
            width: 24rem;
        }
    }

}

@media (max-width: 768px) {
    .summary {
        margin-top: 100px;
        flex-direction: column-reverse;
        height: 50vw;
        gap: 0vw;
    
        img {
            width: 28%;
        }
    
        &__Content {
            width: 20rem;
    
            a{
                text-decoration: none;
                
            }
            h1 {
                font-size: 14px;

            }
    
            h2 {
                font-weight: $fontBold;
                font-size: 14px;
                @include gradient-text
            }
    
            &__Text {
                line-height: 1.5;
                font-size: 12px;
    
            }
    
            &__Button {
                gap: 3vw;
                margin-top: 1.5rem;
                justify-content: center;
    
                Button {
                    @include gradient-button-b;
                    width: 25vw;
                    height: 7vw;
                    
                    font-size: 12px;
                    font-weight: $fontLight;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    
                }
                
            }
        }
    
        img {
            width: 10rem;
        }
    }
   
  }
  .summary__Button:hover{
    color: rgb(51, 51, 51);
    transition-duration: 0.6s;
    box-shadow: rgba(255, 255, 255, 0.192) 3px 5px;
    transform: scale(1.02) translatey(-0.3rem);
}