@use '../../styles/variables' as *;
@import '../../styles/mixin.scss';

.navbar{
    position: fixed; /* Fixa a navbar na tela */
    top: 0; /* Fixa no topo */
    left: 0;
    width: 100%;
    padding: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32vw;
    background: linear-gradient(
        90deg, 
        rgba(10, 12, 16, 0.3) 30%, /* Cor #0A0C10 com 30% de opacidade */
        rgba(16, 24, 34, 1) 100%  /* Cor #101822 totalmente opaca */
    );

    img{
        width: 20vw;
    }
    &__Itens{
        display: flex;
        gap: 50px;
        a{
            text-decoration: none;
            color: white;
            
        }
    }
}