@use '../../styles/variables' as *;
@import '../../styles/mixin.scss';

.navbar {
    position: fixed;
    top: 0;
    z-index: 9999;
    left: 0;
    width: 100vw;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32vw;
    background: linear-gradient(90deg,
            rgba(10, 12, 16, 0.3) 30%,
            /* Cor #0A0C10 com 30% de opacidade */
            rgba(16, 24, 34, 1) 100%
            /* Cor #101822 totalmente opaca */
        );

    img {
        width: 20vw;
    }

    &__Itens {
        display: flex;
        gap: 50px;
        margin-right: 10vw;

        a {
            font-size: 17px;
            text-decoration: none;
            color: white;

        }
    }
}

@media (min-width: 2500px) {
    .navbar {
        padding: 30px;
        justify-content: center;
        gap: 30vw;

        img {
            width: 12vw;
        }

        &__Itens {
            gap: 50px;

            a {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 1900px) {
    .navbar {
        padding: 30px;
        gap: 20vw;


        &__Itens {
            gap: 25px;

            a {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        left: 0;
        width: 100vw;
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 12vw;
        background: linear-gradient(90deg,
                rgba(10, 12, 16, 0.3) 30%,
                /* Cor #0A0C10 com 30% de opacidade */
                rgba(16, 24, 34, 1) 100%
                /* Cor #101822 totalmente opaca */
            );
    
        img {
            width: 20vw;
        }
    
        &__Itens {
            display: flex;
            gap: 10px;
            margin-right: 10vw;
    
            a {
                font-size: 10px;    
            }
        }
    }
}