@use '../../styles/variables' as *;
@import '../../styles/mixin.scss';

.containerFooter {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__Content {
        color: white;
    }

    &__Button {
        display: flex;
        gap: 20px;

        button {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;

            img {
                width: 50px;
            }
        }
    }

}

@media (min-width: 2500px) {
    .containerFooter {
        margin-bottom: 20px;

        &__Button {

            button {
                img {
                    width: 55px;
                }
            }
        }

    }
}